In [68]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.linear_model import LinearRegression , Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [2]:
data = pd.read_csv("ipl.csv")

In [3]:
data.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
data.shape

(76014, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [6]:
data.describe()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000
mean,308.627740,74.889349,2.415844,9.783068,33.216434,1.120307,24.962283,8.869287,160.901452
std,178.156878,48.823327,2.015207,5.772587,14.914174,1.053343,20.079752,10.795742,29.246231
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000
25%,154.000000,34.000000,1.000000,4.600000,24.000000,0.000000,10.000000,1.000000,142.000000
50%,308.000000,70.000000,2.000000,9.600000,34.000000,1.000000,20.000000,5.000000,162.000000
75%,463.000000,111.000000,4.000000,14.600000,43.000000,2.000000,35.000000,13.000000,181.000000
max,617.000000,263.000000,10.000000,19.600000,113.000000,7.000000,175.000000,109.000000,263.000000

In [7]:
data.isnull().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

In [8]:
# removing unwanted columns
data.drop(["mid","batsman","bowler","non-striker","striker", "venue"],axis=1, inplace=True)

In [9]:
data.head(3)

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222

In [10]:
data["bat_team"].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [11]:
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
            'Mumbai Indians','Kings XI Punjab','Royal Challengers Bangalore', 'Delhi Daredevils','Sunrisers Hyderabad']

In [12]:
data = data[(data["bat_team"].isin(consistent_teams)) & (data["bowl_team"].isin(consistent_teams))]

In [13]:
data.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [14]:
# removing first 5 overs
data = data[data["overs"]>=5.0]

In [15]:
data.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

In [16]:
print(data["bat_team"].unique())
print(data["bowl_team"].unique())

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Kings XI Punjab' 'Royal Challengers Bangalore'
 'Delhi Daredevils' 'Sunrisers Hyderabad']
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Rajasthan Royals' 'Mumbai Indians' 'Chennai Super Kings'
 'Kolkata Knight Riders' 'Sunrisers Hyderabad']

In [17]:
# converting date column from string to datetime object
data["date"] = data["date"].apply(lambda x: datetime.strptime(x , "%Y-%m-%d"))

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40108 entries, 32 to 75888
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            40108 non-null  datetime64[ns]
 1   bat_team        40108 non-null  object
 2   bowl_team       40108 non-null  object
 3   runs            40108 non-null  int64
 4   wickets         40108 non-null  int64
 5   overs           40108 non-null  float64
 6   runs_last_5     40108 non-null  int64
 7   wickets_last_5  40108 non-null  int64
 8   total           40108 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 3.1+ MB

### data preprocessing

In [22]:
# encoding
data = pd.get_dummies(data=data ,columns=["bat_team","bowl_team"])

In [23]:
data.head(3)

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,2008-04-18,61,0,5.1,59,0,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
33,2008-04-18,61,1,5.2,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34,2008-04-18,61,1,5.3,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [151]:
data.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [152]:
# rearraning the columns
data = data[["date",'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad','runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total']]

In [153]:
# splitting data into train and test
x_train = data.drop(labels="total",axis=1)[data["date"].dt.year<=2016]
x_test = data.drop(labels="total", axis=1)[data["date"].dt.year>=2017]

In [154]:
y_train = data[data["date"].dt.year<=2016]["total"].values
y_test = data[data["date"].dt.year>=2017]["total"].values

In [155]:
x_train.sample(20)

,date,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,...,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,runs,wickets,overs,runs_last_5,wickets_last_5
663,2008-04-21,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,73,3,8.3,49,3
2938,2008-05-04,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,88,6,14.2,36,1
27319,2011-05-10,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,144,4,17.1,40,2
63530,2016-04-19,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,116,7,18.1,38,3
61402,2015-05-17,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,70,6,13.5,21,3
50471,2014-05-02,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,67,1,8.3,39,0
14703,2010-03-17,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,204,4,18.2,54,1
13926,2010-03-13,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,113,6,14.6,37,2
38327,2012-05-23,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,35,2,6.4,33,0
66207,2016-05-07,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,76,2,10.1,35,2
14574,2010-03-16,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,131,3,17.6,54,0
21103,2011-04-08,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,45,1,5.5,40,0
6664,2008-05-31,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,35,4,6.6,24,3
22460,2011-04-15,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,42,1,7.3,20,1
66934,2016-05-12,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,61,0,8.1,45,0
52209,2014-05-12,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,73,2,10.4,34,1
36455,2012-05-12,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,24,3,5.1,24,3
42225,2013-04-22,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,178,4,19.3,47,1
67372,2016-05-15,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,173,4,19.5,52,2
53121,2014-05-18,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,124,5,16.5,29,2

In [156]:
x_train.drop("date", axis=1, inplace=True)
x_test.drop("date", axis=1, inplace=True)

### Model building

#### LinearRegression

In [157]:
lr = LinearRegression()
lr.fit(x_train , y_train)

LinearRegression()

In [158]:
lr.score(x_test , y_test)

0.7519382338265513

In [159]:
import pickle

In [160]:
filename = "IPL-inning score.pkl"
pickle.dump(lr , open(filename, "wb"))